Weekly Report
@{int i = 1;}
@foreach(var b in Model)
{
	<h1>@i .@b.Name</h1>
	foreach(var l in b.Lists)
	{
		<h2>@l.Name</h2>
		<ul>
		@{
			foreach(var c in l.Cards)
			{
				<li><h3>@c.Name (@c.MemberNames)</h3></li>
			}

		}
		</ul>
	}
	
	i++;
}